* {
    text-align: center;
  }
  table {
    margin: 5% auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  th {
  border: 2px solid black;
  width: 2%;
  height: 40px;
  background-color: #007bff;
  color: white;
  text-align: center;
  }
  
  td {
  border: 2px solid black;
  height: 30px;
  background-color: lightyellow;
  text-align: center;
  }
  
  @media only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
  }
  
  
  #pop {
    margin: -20% 30%;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    z-index: 3;
    position: absolute;
    border: 3px solid black;
    animation: pop-up 0.5s ease-in-out;
    width: 40%;
    min-width: 200px;
    max-width: 500px;
  }
  
  @keyframes pop-up {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media (max-width: 500px) {
    table {
      width: 100%;
    }
    #pop {
      width: 90%;
      margin: 5% 5%;
    }
  }
  #cls {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: right;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #cls:hover {
    background-color: #f44336;
    color: #fff;
    border: 2px solid #f44336;
    padding: 1px;
  }
  
  label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  }
  
  select {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 40px;
  width: 100px;
  }
  
  option {
    padding: 0.5em;
    font-size: 1em;
    padding: 10px;
    background-color: white;
    color: black;
    margin: 5px;
  }
  
  option:hover {
    background-color: lightgray;
  }
  
  option:focus {
    background-color: lightblue;
  }
  
  input[type="submit"] {
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
  background-color: darkgreen;
  }
  
  form {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  }   